@charset "UTF-8";
/******Variables*****/
/****Mixing***/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#título {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 40pt;
  color: white;
  padding-top: 210px;
}

a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: white;
  font-size: 18px;
}

h3 {
  font-family: "Montserrat", sans-serif;
}

p {
  font-family: "Raleway", sans-serif;
}

header {
  color: white;
}

header h3 {
  text-align: center;
}

header p {
  padding-top: 20px;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 20px;
  text-align: center;
}

header .fondo-header {
  background-image: url(../imagenes/fondo-inicio.jpg);
  height: 100%;
  width: 100%;
  height: 650px;
  text-align: center;
  background-size: cover;
}

header .boton1 {
  background-color: white;
  color: #385f6b;
  background-size: cover;
  padding: 0.5em;
  border-radius: 0.5em;
  -webkit-box-shadow: 3px 3px 15px, #1f1e1e;
          box-shadow: 3px 3px 15px, #1f1e1e;
  -webkit-transition: ease-in-out .3s;
  transition: ease-in-out .3s;
}

header .boton1:hover {
  background-color: #385f6b;
  color: white;
}

.nosotros {
  background-color: #1f1e1e;
  height: 760px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.nosotros .texto-nosotros {
  padding-top: 100px;
  padding-left: 30px;
  padding-right: 70px;
  color: white;
}

.nosotros .texto-nosotros .parrafo-sobrenos {
  padding-top: 2em;
  padding-bottom: 0.5em;
}

.nosotros .imagen-nosotros {
  padding: 70px;
  padding-top: 85px;
}

.nosotros .titulo-servicios {
  color: white;
  padding-left: 600px;
  padding-bottom: 30px;
}

.servicios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-columns: repeat 4, 1fr;
      grid-template-columns: repeat 4, 1fr;
  padding: 0;
}

.servicios .clouds {
  background-image: url(../imagenes/clouds.jpg);
  background-size: cover;
  height: 590px;
  width: 350px;
  -webkit-transition: ease-in-out .3s;
  transition: ease-in-out .3s;
}

.servicios .clouds:hover {
  background-image: url(../imagenes/cloudactive.jpg);
}

.servicios .back {
  background-image: url(../imagenes/back.jpg);
  background-size: cover;
  height: 590px;
  width: 350px;
  -webkit-transition: ease-in-out .3s;
  transition: ease-in-out .3s;
}

.servicios .back:hover {
  background-image: url(../imagenes/backendactive.jpg);
}

.servicios .ux {
  background-image: url(../imagenes/ux.jpg);
  background-size: cover;
  height: 590px;
  width: 350px;
  -webkit-transition: ease-in-out .3s;
  transition: ease-in-out .3s;
}

.servicios .ux:hover {
  background-image: url(../imagenes/uxactive.jpg);
}

.servicios .graphics {
  background-image: url(../imagenes/graphic.jpg);
  background-size: cover;
  height: 590px;
  width: 350px;
  -webkit-transition: ease-in-out .3s;
  transition: ease-in-out .3s;
}

.servicios .graphics:hover {
  background-image: url(../imagenes/graphicactive.jpg);
}

.grupos {
  background-color: #1f1e1e;
  height: 650px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.grupos .texto-grupos {
  padding-top: 180px;
  padding-left: 30px;
  padding-right: 70px;
  color: white;
  text-align: right;
}

.grupos .texto-grupos .parrafo-grupos {
  padding-top: 2em;
  padding-bottom: 0.5em;
}

.grupos .imagen-grupos {
  padding: 70px;
  padding-top: 85px;
}

.contacto {
  background-color: #385f6b;
  color: white;
  padding: 100px;
}

.contacto .contacto-titulo {
  text-align: center;
  margin-bottom: 1em;
}

footer {
  background-color: #1f1e1e;
  padding-left: 500px;
  padding-top: 30px;
  padding-bottom: 30px;
}

footer .iconos {
  padding-bottom: 20px;
  padding-left: 110px;
  color: white;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer .icono-wpp {
  padding-left: 30px;
}

footer .icono-wpp:hover {
  color: #385f6b;
}

footer .icono-linkedin {
  padding-left: 30px;
}

footer .icono-linkedin:hover {
  color: #385f6b;
}

footer .icono-instagram {
  padding-left: 30px;
}

footer .icono-instagram:hover {
  color: #385f6b;
}

footer .copyright {
  color: white;
}

/*Desktop*/
@media only screen and (min-width: 992px) and (max-width: 1075px) {
  /*nosotros*/
  .nosotros {
    height: 1300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nosotros .texto-nosotros {
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    color: white;
    text-align: center;
  }
  .nosotros .imagen-nosotros {
    padding: 70px;
    padding-top: 85px;
    padding-left: 200px;
  }
  .nosotros .titulo-servicios {
    text-align: center;
    padding-left: 35px;
    padding-bottom: 0px;
    padding-top: 50px;
  }
  /*servicios*/
  .servicios {
    height: 1000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #1f1e1e;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .servicios .clouds {
    height: 250px;
    width: 350px;
    background-position: center;
  }
  .servicios .back {
    height: 250px;
    width: 350px;
    background-position: center;
  }
  .servicios .ux {
    height: 250px;
    width: 350px;
    background-position: center;
  }
  .servicios .graphics {
    height: 250px;
    width: 350px;
    background-position: center;
  }
  /*grupos*/
  .grupos {
    height: 1100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .grupos .texto-grupos {
    padding-top: 100px;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    text-align: center;
  }
  /*footer*/
  footer {
    padding-left: 400px;
  }
}

/* Escritorio pequeño / tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /*nosotros*/
  .nosotros {
    height: 1300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nosotros .texto-nosotros {
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    color: white;
    text-align: center;
  }
  .nosotros .imagen-nosotros {
    padding: 70px;
    padding-top: 85px;
  }
  .nosotros .titulo-servicios {
    text-align: center;
    padding-left: 35px;
    padding-bottom: 0px;
    padding-top: 50px;
  }
  /*servicios*/
  .servicios {
    height: 1000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #1f1e1e;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .servicios .clouds {
    height: 250px;
    width: 350px;
    background-position: center;
  }
  .servicios .back {
    height: 250px;
    width: 350px;
    background-position: center;
  }
  .servicios .ux {
    height: 250px;
    width: 350px;
    background-position: center;
  }
  .servicios .graphics {
    height: 250px;
    width: 350px;
    background-position: center;
  }
  /*grupos*/
  .grupos {
    height: 1100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .grupos .texto-grupos {
    padding-top: 100px;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    text-align: center;
  }
  /*footer*/
  footer {
    padding-left: 200px;
  }
}

/* Tablets y phablets */
@media only screen and (min-width: 576px) and (max-width: 767px) {
  /*header*/
  header p {
    padding-left: 100px;
    padding-right: 100px;
  }
  /*nosotros*/
  .nosotros {
    height: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nosotros .texto-nosotros {
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    color: white;
    text-align: center;
  }
  .nosotros .imagen-nosotros {
    padding: 70px;
    padding-top: 85px;
  }
  .nosotros .titulo-servicios {
    text-align: center;
    padding-left: 35px;
    padding-bottom: 0px;
    padding-top: 50px;
  }
  /*servicios*/
  .servicios {
    height: 1000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #1f1e1e;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .servicios .clouds {
    height: 250px;
    width: 350px;
    background-position: center;
  }
  .servicios .back {
    height: 250px;
    width: 350px;
    background-position: center;
  }
  .servicios .ux {
    height: 250px;
    width: 350px;
    background-position: center;
  }
  .servicios .graphics {
    height: 250px;
    width: 350px;
    background-position: center;
  }
  /*grupos*/
  .grupos {
    height: 1100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .grupos .texto-grupos {
    padding-top: 100px;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    text-align: center;
  }
  /*footer*/
  footer {
    padding-left: 100px;
  }
}

/*Celulares*/
@media only screen and (max-width: 575px) {
  /*header*/
  header p {
    padding-left: 50px;
    padding-right: 50px;
  }
  /*nosotros*/
  .nosotros {
    height: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nosotros .texto-nosotros {
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    color: white;
    text-align: center;
  }
  .nosotros .imagen-nosotros {
    padding: 70px;
    padding-top: 85px;
  }
  .nosotros .titulo-servicios {
    text-align: center;
    padding-left: 35px;
    padding-bottom: 0px;
    padding-top: 50px;
  }
  /*servicios*/
  .servicios {
    height: 1000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #1f1e1e;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .servicios .clouds {
    height: 250px;
    width: 350px;
    background-position: center;
  }
  .servicios .back {
    height: 250px;
    width: 350px;
    background-position: center;
  }
  .servicios .ux {
    height: 250px;
    width: 350px;
    background-position: center;
  }
  .servicios .graphics {
    height: 250px;
    width: 350px;
    background-position: center;
  }
  /*grupos*/
  .grupos {
    height: 900px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .grupos .texto-grupos {
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    text-align: center;
  }
  .grupos .texto-grupos .imagen-grupos {
    padding-top: 5px;
  }
  /*footer*/
  footer {
    padding-left: 15px;
  }
}
/*# sourceMappingURL=style.css.map */