/******Variables*****/
$rosa: #F1524F;
$blanco: white;
$blancotrans: rgba(255, 255, 255, 0.377);
$negro: black;
$tipografía-parrafo:'Montserrat', sans-serif;
$tipografía-titulo: 'Montserrat', sans-serif;
$verde: #219315;
$azulclaro: #3f729b


/*****Map*****/

$coloricono (
    whatsapp: $verde,
    instagram: $azulclaro,
    linkedin: $negro,
);

@each $verde, $color in $coloricono {
    .whatsapp #{$verde} {
        color: $coloricono;
    }
    .linkedin #{$negro} {
        color:$coloricono;
    }
    .instagram #{$azulclaro} {
        color: $coloricono;
    }
 };

 @mixin padding($padding-top, $padding-bottom) {
    padding-top: $padding-top;
    padding-bottom: $padding-bottom;
 };
 


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#título {
    font-family: $tipografía-titulo;
    text-align: center;
    font-size: 90pt;
    color: $blanco;
    padding-top: 210px;
    
}

a {
    font-family: $tipografía-parrafo;
    text-decoration: none;
    color: $blanco;
    font-size: 19px;
   }

body {
    font-family: $tipografía-parrafo, 200;
    text-align: left;
}

h3 {
    font-size: 50px;
    font-family: $tipografía-titulo, 500;
    text-align: left;
}

//........Header........//

header {
    font-family:$tipografía-parrafo;
    background-image: url(../imagenes/imagn.jpg);
    .fondo-header {
    
        height: 650px;
        text-align: center;
        size: 300px;
    }
    .nav {
        display: flex;
        justify-content: space-between ;
        .logo-nav {
            margin-top: 30px;
            margin-left: 50px;
        }
        .nav-links {
            flex-direction: row;
            padding-top: 40px;
            padding-right: 50px;
            font-family: $tipografia-parrafo ; 
           word-spacing: 50px;
           font-size: 13pt;
          
        }
        flex-direction: row; }
    background-size:cover;}

//.........Inicio.........//
 
.sobre-nosotros {
    background-color: $negro;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
    .sobre-nosotros-texto {
        padding-top: 150px;
        padding-left: 50px;
        color: $blanco;
        .parrafo-sobrenos {
            @include padding (2em, 0.5em);
        }
        .botonleermas {
            background-color: $rosa;
            padding: 0.5em;
            border-radius: 0.5em;
            box-shadow: 3px 3px 15px #333333;
            transition: ease-in-out .3s;
            &:hover {
                background-color: $blanco;
                color:$rosa;
            }

        }
    }
    .sobre-nosotros-imagen {
        padding: 70px;
    }
 }
.servicios-index {
    background-image: url(../imagenes/fondo-inicio.1.jpg);
    background-size: cover;
    height: 650px;
    size: 300px;
    display: grid;
    grid-template-columns: repeat(2,1fr);

    .servicios-index-texto {
        padding-top: 250px;
        padding-left: 50px;
        color:$blanco;
        .parrafo-servicios {
            @include padding (2em, 0.5em);
        }
        .botonleermas2 {
            @extend .botonleermas;
            }
        }
    }
    .servicios-index-cards {
        color: $blanco;
        display: grid;
        padding-right: 50px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-row-gap: 1em;
        grid-column-gap: 1em;
        .servicio-card1 {
        background-color: $blancotrans;
        padding: 5px;
        box-sizing: 10px;
        margin-top: 6em;
        padding-top: 2em;
        }
        .servicio-card2 {
        background-color: $blancotrans;
        padding: 10px;
        box-sizing: 20px;
        margin-top: 6em;
        padding-top: 2em;
        }
        .servicio-card3 {
        background-color: $blancotrans;
        padding: 10px;
        box-sizing: 20px;
        margin-top: 6em;
        padding-top: 2em;
        }
        .servicio-card4 {
        background-color: $blancotrans;
        padding: 10px;
        box-sizing: 20px;
        margin-bottom: 6em;
        padding-top: 2em;
        }
        .servicio-card5 {
        background-color: $blancotrans;
        padding: 10px;
        box-sizing: 20px;
        margin-bottom: 6em;
        padding-top: 2em;
        }
        .servicio-card6 {
        background-color: $blancotrans;
        padding: 10px;
        box-sizing: 20px;
        margin-bottom: 6em;
        padding-top: 2em;
        }
    }
    


.clientes {
    background-color: $negro;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    .clientes-texto {
        padding-top: 150px;
        padding-left: 50px;
        color: $blanco;
        .botonleermas {
            background-color: $rosa;
            padding: 0.5em;
            border-radius: 0.5em;
            box-shadow: 3px 3px 15px #333333;
            transition: ease-in-out .3s;
            &:hover {
                background-color: $blanco;
                color:$rosa;
            }
        }
    }
    

}
.contactanos-index {
    background-color: $negro;
    color: white;
    padding: 200px;
    .contactanos-texto {
        text-align: center; 
        margin-bottom: 1em; 
    }
    .boton-contactanos {
        @extend .botonleermas
        }
    
}

//.........Nosotros.......//

 .presentacion {
    background-color: $negro;
    color: $blanco;
    padding: 200px;
}

 .porque-escogernos {
    background-image: url(../imagenes/fondo.nosotros.1.jpg);
    background-size: cover;
    height: 650px;
    size: 300px;
    color: $blanco;
.texto-porque {
    padding: 230px;
    .parrafo-porque {
        padding-top: 2em;
    }
}}

 .acciones {
    padding: 200px;
    background-color: $negro;
    color: $blanco;
    .acciones-items {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 30px;
        .icono-foco {
            color: $rosa;
        }
        .icono-mano {
            color: $rosa;
        }
        .icono-persona {
            color: $rosa;
        }
        }
    }


//........Servicios.......//
.servicios {
    background-color: $negro;
    color: $blanco;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 1em;
    grid-column-gap: 1em;
    padding: 4em;
    .servicioclouds {
    background-color: $blancotrans;
    @include padding (8em, 3em);
    padding-left: 2em;
    padding-right: 2em;
    }
    .servicioback {
    background-color: $blancotrans;
    @include padding (8em, 3em);
    padding-left: 2em;
    padding-right: 2em;
    }
    .serviciograph {
    background-color: $blancotrans;
    @include padding (8em, 3em);
    padding-left: 2em;
    padding-right: 2em;
    }
    .servicioblock {
    background-color: $blancotrans;
    @include padding (8em, 3em);
    padding-left: 2em;
    padding-right: 2em;
    }
    .serviciomachine {
    background-color: $blancotrans;
    @include padding (8em, 3em);
    padding-left: 2em;
    padding-right: 2em;
    }
    .servicioux {
    background-color: $blancotrans;
    @include padding (8em, 3em);
    padding-left: 2em;
    padding-right: 2em;
    }
}
//.......Grupos......//

.maingrupo {
    background-color: $negro;
    .que-son {
    color: $blanco;
    padding: 200px;
    .parrafo-que-son {
        padding-top: 2em;
    }
    }
    .porque-contamos {
    background-color: $blancotrans;
    color: $blanco;
    padding: 200px;
    .porque-contamos-lista {
        padding-top: 2em;
    }
    }
}

//......Contacto.....//

.formulario {
    padding: 4em;
    background-color: $negro;
    color: $blanco;
    
}


//......Footer......//

footer {
    background-color: #333333;
    align-items: center;
    .iconos {
        margin: 1em;
        display: flex;
        flex-direction: row;
        color:$coloricono
    }
    .logo-footer {
        display: 1em;
        .infolegal {
            border-right: solid 3px;
            color: $blanco;
            font-family: $tipografía-parrafo;
        }
    }
}

