/******Variables*****/
$rosa: #F1524F;
$blanco: white;
$blancotrans: rgba(255, 255, 255, 0.377);
$negro: black;
$tipografia:'Montserrat', sans-serif;
$tipografia-texto: 'Quicksand', sans-serif;
$verde: #219315;
$azulclaro: #3f729b;

/* Agregar map y each */

 @mixin padding($padding-top, $padding-bottom) {
    padding-top: $padding-top;
    padding-bottom: $padding-bottom;
 };
 


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#título {
    font-family: $tipografia;
    text-align: center;
    font-size: 40pt;
    color: $blanco;
    padding-top: 210px;
    
}

a {
    font-family: $tipografia;
    text-decoration: none;
    color: $blanco;
    font-size: 18px;
   }



h3 {
    font-size: 25pt;
    font-family: $tipografia;
    
}
p {
    font-family: $tipografia-texto;
    font-size: 12pt;
}

//........Header........//

header {
    color: white;
    h3{
        text-align: center;
    }
    p {
        padding-top: 20px;
        padding-left: 200px;
        padding-right: 200px;
        padding-bottom: 20px;
        text-align: center;
    }
    .fondo-header {
    
       background-image: url(../imagenes/fondo-inicio.jpg);
        height: 100%; 
        width: 100%;
        height: 650px;
        text-align: center;
        background-size: cover;
        
    }
    .boton1 {
            background-color:$blanco;
            color: #385f6b;
            background-size: cover;
            padding: 0.5em;
            border-radius: 0.5em;
            box-shadow: 3px 3px 15px #333333;
            transition: ease-in-out .3s;
            
            &:hover {
                background-color: #385f6b;
                color: white;
            }

    }

    }
    

//.........Nosotros.........//
 
.nosotros {
    background-color: #1f1e1e;
    height: 760px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
    .texto-nosotros {
        padding-top: 100px;
        padding-left: 30px;
        padding-right: 70px;
        color: $blanco;
        .parrafo-sobrenos {
            @include padding (2em, 0.5em);
        }
    }
    .imagen-nosotros {
        padding: 70px;
        padding-top: 85px;
    }
    .titulo-servicios {
        color: white;
        padding-left: 600px;
        padding-bottom: 30px;
    }
 }

//.........Servicios.......// 

.servicios {
    display: flex;
    grid-template-columns: repeat (4,1fr);
    padding: 0;
    .clouds {
        background-image: url(../imagenes/clouds.jpg);
        background-size: cover;
        height: 590px;
        width: 350px;
        transition: ease-in-out .3s;
        &:hover {
            background-image: url(../imagenes/cloudactive.jpg);
        }
    }
    .back {
        background-image: url(../imagenes/back.jpg);
        background-size: cover;
        height: 590px;
        width: 350px;
        transition: ease-in-out .3s;
        &:hover {
            background-image: url(../imagenes/backendactive.jpg);
        }
    }
    .ux{
        background-image: url(../imagenes/ux.jpg);
        background-size: cover;
        height: 590px;
        width: 350px;
        transition: ease-in-out .3s;
        &:hover {
            background-image: url(../imagenes/uxactive.jpg);
        }
    }
    .graphics {
        background-image: url(../imagenes/graphic.jpg);
        background-size: cover;
        height: 590px;
        width: 350px;
        transition: ease-in-out .3s;
        &:hover {
            background-image: url(../imagenes/graphicactive.jpg);
        }
    }

}

//..........Grupos..........//
.grupos {
        background-color: #1f1e1e;
        height: 650px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        
        .texto-grupos {
            padding-top: 180px;
            padding-left: 30px;
            padding-right: 70px;
            color: $blanco;
            text-align: right;
            .parrafo-grupos {
                @include padding (2em, 0.5em);
            }
        }
        .imagen-grupos {
            padding: 70px;
            padding-top: 85px;
        }
}

//..........Contacto.......//

.contacto {
    background-color:#385f6b ;
    color: white;
    padding: 100px;
    .contacto-titulo {
        text-align: center; 
        margin-bottom: 1em; 
    }
  
}





//........Nosotros.......//

.presentacion {
    background-color: $negro;
    color: $blanco;
    padding: 200px;
}

 .porque-escogernos {
    background-image: url(../imagenes/fondo.nosotros.1.jpg);
    background-size: cover;
    height: 650px;
    size: 300px;
    color: $blanco;
.texto-porque {
    padding: 230px;
    .parrafo-porque {
        padding-top: 2em;
    }
}}

 .acciones {
    padding: 200px;
    background-color: $negro;
    color: $blanco;
    .acciones-items {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 30px;
        .icono-foco {
            color: #385f6b;
        }
        .icono-mano {
            color: #385f6b;
        }
        .icono-persona {
            color: #385f6b;
        }
        }
    }


//........Servicios.......//
.servicioss {
    background-color: $negro;
    color: $blanco;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 1em;
    grid-column-gap: 1em;
    padding: 4em;
    .servicioclouds {
    background-color: $blancotrans;
    @include padding (8em, 3em);
    padding-left: 2em;
    padding-right: 2em;
    }
    .servicioback {
    background-color: $blancotrans;
    @include padding (8em, 3em);
    padding-left: 2em;
    padding-right: 2em;
    }
    .serviciograph {
    background-color: $blancotrans;
    @include padding (8em, 3em);
    padding-left: 2em;
    padding-right: 2em;
    }
    .servicioblock {
    background-color: $blancotrans;
    @include padding (8em, 3em);
    padding-left: 2em;
    padding-right: 2em;
    }
    .serviciomachine {
    background-color: $blancotrans;
    @include padding (8em, 3em);
    padding-left: 2em;
    padding-right: 2em;
    }
    .servicioux {
    background-color: $blancotrans;
    @include padding (8em, 3em);
    padding-left: 2em;
    padding-right: 2em;
    }
}
//.......Grupos......//

.maingrupo {
    background-color: $negro;
    .que-son {
    color: $blanco;
    padding: 200px;
    .parrafo-que-son {
        padding-top: 2em;
    }
    }
    .porque-contamos {
    background-color: $blancotrans;
    color: $blanco;
    padding: 200px;
    .porque-contamos-lista {
        padding-top: 2em;
    }
    }
}



//......Footer......//

footer {
    background-color: #1f1e1e;
    padding-left: 500px;
    padding-top: 30px;
    padding-bottom: 30px;
    .iconos {
        
        padding-bottom: 20px;
        padding-left: 110px;
        color: white;
        width: 300px;  
        display: flex;
        flex-direction: row;
        }
     .icono-wpp {
      padding-left: 30px;
      &:hover {
        color: #385f6b;
     }
    }
     .icono-linkedin {
      padding-left: 30px;
      &:hover {
      color: #385f6b;
     }
    }
     .icono-instagram {
      padding-left: 30px;
      &:hover {
      color: #385f6b;
     }
    }
    .copyright {
        color:white
    }
}